.App {
  text-align: center;
  font-weight: 300;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.3vw;
  box-shadow: 0 0 10px #ddd;
}

header .logo {
  font-weight: 600;
  font-size: 1.5vw;
}

header nav {
  min-width: 16vw;
  display: flex;
  justify-content: space-between;

}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: currentColor;
  font-weight: 400;
  padding: 0 10px;
}
main{
  margin-top:1.5rem;
}
.chart {
max-width: 50%;
margin: auto;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:1rem;
}

.dataContainer {
  min-width: 45vw;
  border-radius: 5px;
  border: 2px solid #ddd;
  /* padding: 10px 15px; */
  position:relative;
}

tr {
  border-bottom: 2px solid #ddd;
  text-align: right;
}

table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

thead {
  width: 100%;
}
svg:hover{
  cursor:pointer
}
.tableName {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  border-radius: 5px 5px 0 0;
  padding:0.5rem 1rem;
}

table,
td,
th {
  padding: 10px 15px
  
}

th {
  font-weight: 500;
  cursor: pointer;
}

td {
  color: #737272;
}

.right_align {
  text-align: left;
}

.sortIcons {
  display: inline-flex;
  flex-direction: column;
}
.sortIcons svg{
  font-size: small;
  color: #ccc;
}
#downArrow{
  margin-top: -12px;
  height: 10px;
}

.adContainer {
  position: relative;
  width: calc(100% - 50px);
  box-shadow: 0 0 4px #ababab;
  border-radius: 5px;
  margin: auto;
  height: 100%;
  margin-top: 1.6rem;
  padding:1rem;
}

.adContainer P {
  text-align: left;
  padding: 10px;
  font-weight: 500;
  margin-bottom: 0;
}

textarea {
  resize: none;
  height: 100%;
}

.options {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  height: 100%;

}

.options label {
  box-shadow: 0 0 10px #d1d1d1;
  border-radius: 10px;
  text-align: left;
  padding: 1rem 1rem 2rem 1rem;
  cursor: pointer;
}

.options img {
  width: 15vw;
  padding: 10px 2.5rem;
}

.options div {
  text-align: center;
}

.options b {
  font-size: 1.3rem;

}

.lightText {
  color: #ababab
}

input[type="checkbox"] {
  transform: scale(1.8);
  cursor: pointer;
}
select{
  padding:5px;
  border-radius:5px;
  border:1px solid #ccc
}
button {
  font-weight: 600;
  font-size: large;
  color: #fff;
  padding: 0.8rem 4rem;
  border: none;
  border-radius: 5px;

}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.primaryButton {
  background-color: #0096ff;
}

.secondaryButton {
  background-color: #fff;
  color: currentColor;
  border: 2px solid #ddd;
}

.button,
.buttons {
display: flex;
justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.flex-row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

form {
  padding: 1rem;
}

form div {
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 1rem;
}

form label {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.6rem;
  flex-grow: 1;
  padding: 0.5rem;
}

textarea,
input[type="text"] {
  padding: 0.8rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 1em;
}

textarea {
  min-height: 13vh;
}

.custom-dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.custom-dialog.open {
  display: flex;
}

.dialog-content {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20vmax;
}
.dialog-content svg{
  color: #0096ff;
}
.dialog-content span{
  font-weight: 500;
}

.buttons {
  display: flex;
  min-width: 300px;
  justify-content: right;
  gap: 1rem;
}

.toggleDataChart {
  position:absolute;
  bottom:1vh;
  right:2vh;
  min-width: max-content;
  width: 90px;
  background-color: #ddd;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: space-evenly;
  align-items: center;
  color: #616060
}
.toggleDataChart:hover{
  cursor:pointer
}
.matric{
  display: flex;
  justify-content: space-evenly;
}
.matric select{
  margin-right:10px;
}

/*
add flex-wrap: wrap; to flex-row and flex-col in media query
*/

@media screen and (max-width: 600px) {
  form div {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
.options img {
  width: 100%;
  padding: 0;
}

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  .right_align{
    text-align: right;
  }
  header{
    font-size: 1rem;
  }
  header .logo {
    font-weight: 600;
    font-size: 1.2rem;
  }
}


